<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-sr-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- <a class="navbar-brand" href="#">Hungry Hub</a> -->
    <a class="navbar-brand" href="index.html"><img src="images/logotype/hh-symbol.png" class="img-responsive"></a>
  </div>
  <!-- /.navbar-header -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-sr-collapse">
    <div class="col-sm-12 col-md-1" id="restaurants-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">RESTAURANTS</a>
          <ul class="dropdown-menu">
            <li><a href="#">Featured</a></li>
            <li><a href="#">Most Popular</a></li>
            <li><a href="#">View All Restaurants</a></li>
          </ul>
        </li>
        <!-- /.RESTAURANTS -->
      </ul>
      <!-- /.nav -->
    </div>
    
    <div class="col-sm-12 col-md-4" id="free-text-search">
      <form class="navbar-form" role="search" action="search.html" method="get">
        <div class="input-group">
          <input type="text" class="form-control navbar-btn" placeholder="Search for restaurant, location and cuisine" id="search-term" name="search-term" value="">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary navbar-btn"><span class="fui-search"></span></button>
          </div>
        </div>
        <!-- /input-group -->
      </form>
      <!-- /.form -->
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li><button type="button" class="btn btn-link navbar-btn navbar-right" id="btn-login">LOG IN</button></li>
      <li><button type="button" class="btn btn-inverse-link navbar-btn navbar-right" id="btn-signup">SIGN UP</button></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">FOR YOUR BUSINESS</a>
        <ul class="dropdown-menu">
          <li><a href="#">Home Layout 1</a></li>
          <li><a href="#">Home Layout 2</a></li>
          <li><a href="#">Home Layout 3</a></li>
        </ul>
      </li>
      <!-- /.RESTAURANTS -->
    </ul>
    <!-- /.nav -->
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container -->