<div class="row">
  <!-- Featured Restaurant -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" id="featured-header">
    <h2>Featured Restaurants</h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#new" data-toggle="tab">New</a></li>
      <li><a href="#popular" data-toggle="tab">Most Popular</a></li>
      <li><a href="#reco" data-toggle="tab">Recommendation</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" id="featured">
      <div class="tab-pane fade in active" id="new">
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">The Garret Secret Bistro</a></h4>
                <p>99/99 Sukhumvit 63 (Ekkamai Soi 7) Klongton-Nua, Wattana Bangkok, 10110</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Fusion</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- NEW 1 END -->
        <hr>
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Mugendai</a></h4>
                <p>The Grass Thonglor, Sukhumvit 55 (Thonglor 12) Klongton-Nua, Wattana Bangkok, 10110</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Japanese</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- NEW 2 END -->
        <hr>
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Back Forty West</a></h4>
                <p>375 Thonglor Soi 19 Sukhumvit 55 Klongton-Nua, Wattana Bangkok, 10110</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Fusion, Thai Cuisine</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- NEW 3 END -->
        <hr>
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Maison Chin</a></h4>
                <p>Bandara Suites Silom, Saladaeng 1 Road. Bangkok, 10500 Thailand</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Chinese, Fusion</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- NEW 4 END -->
        <hr>
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Mangkhut Cafe'</a></h4>
                <p>258 Arun Armarin Soi 18 (Wat Rakhang Khositaram) Bangkok, Thailand 10700</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Thai Cusine</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- NEW 5 END -->
        <hr>
      </div>
      <!-- NEW END -->
      <div class="tab-pane fade" id="popular">
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Roast Coffee & Eatery</a></h4>
                <p>99/99 Sukhumvit 63 (Ekkamai Soi 7) Klongton-Nua, Wattana Bangkok, 10110</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Fusion</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- POPULAR 1 END -->
        <hr>
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Kuppa</a></h4>
                <p>The Grass Thonglor, Sukhumvit 55 (Thonglor 12) Klongton-Nua, Wattana Bangkok, 10110</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Japanese</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- POPULAR 2 END -->
        <hr>
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Tenyuu Grand</a></h4>
                <p>375 Thonglor Soi 19 Sukhumvit 55 Klongton-Nua, Wattana Bangkok, 10110</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Fusion, Thai Cuisine</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- POPULAR 3 END -->
        <hr>
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Nobu Thonglor</a></h4>
                <p>Bandara Suites Silom, Saladaeng 1 Road. Bangkok, 10500 Thailand</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Chinese, Fusion</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- POPULAR 4 END -->
        <hr>
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Aoi Silom</a></h4>
                <p>258 Arun Armarin Soi 18 (Wat Rakhang Khositaram) Bangkok, Thailand 10700</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Thai Cusine</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- POPULAR 5 END -->
        <hr>
      </div>
      <!-- POPULAR END -->
      <div class="tab-pane fade" id="reco">
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Akiyoshi Sukumvit 53</a></h4>
                <p>99/99 Sukhumvit 63 (Ekkamai Soi 7) Klongton-Nua, Wattana Bangkok, 10110</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Fusion</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- RECO 1 END -->
        <hr>
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Bourbon Street Restaurant, Oyster Bar & Boutique Hotel</a></h4>
                <p>The Grass Thonglor, Sukhumvit 55 (Thonglor 12) Klongton-Nua, Wattana Bangkok, 10110</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Japanese</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- RECO 2 END -->
        <hr>
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Ramentei Surawong</a></h4>
                <p>375 Thonglor Soi 19 Sukhumvit 55 Klongton-Nua, Wattana Bangkok, 10110</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Fusion, Thai Cuisine</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- RECO 3 END -->
        <hr>
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Neil's Tavern Asok</a></h4>
                <p>Bandara Suites Silom, Saladaeng 1 Road. Bangkok, 10500 Thailand</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Chinese, Fusion</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- RECO 4 END -->
        <hr>
        <ul class="media-list">
          <li class="media">
            <!-- Photo -->
            <a class="pull-left" href="#"><img class="media-object img-responsive hidden-xs" src="http://placehold.it/244x144"></a>
            <!-- Info -->
            <div class="media-body">
              <div class="col-sm-12 col-lg-9">
                <h4 class="media-heading"><a href="#">Indian Host</a></h4>
                <p>258 Arun Armarin Soi 18 (Wat Rakhang Khositaram) Bangkok, Thailand 10700</p>
                <!-- Stars -->
                <p class="star">
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                  <i class="fa fa-star red"></i>
                </p>
                <!-- Price -->
                <p>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                  <i class="fa fa-usd"></i>
                </p>
                <!-- Tags -->
                <p><i class="fa fa-tag"></i>&nbsp;Thai Cusine</p>
              </div>
              <div class="col-sm-5 col-lg-3" id="btn-book">
                <a href="#" class="btn btn-hh">Book Now</a>
              </div>
            </div>
          </li>
        </ul>
        <!-- RECO 5 END -->
        <hr>
      </div>
      <!-- RECO END -->
    </div>
  </div>

  <!-- Aside -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" id="aside">
    <h3 class="aside">What is Hungry Hub?</h3>
    <div class="aside"><img class="img-responsive" src="http://placehold.it/360x280&text=VDO Explainer"></div>
    <div class="aside"><img class="img-responsive" src="http://placehold.it/360x88&text=Mobile App Ads"></div>
    <div class="aside"><img class="img-responsive" src="http://placehold.it/360x280&text=Advertisement"></div>
    <div class="aside"><img class="img-responsive hidden-sm hidden-xs" src="http://placehold.it/360x280&text=Facebook API"></div>
  </div>
</div>